{% extends 'base.html' %}

{% block title %}Детальный просмотр фотографии{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row d-flex justify-content-center">
            <div class="card col-7 text-bg-light form-margins card-paddings card-back ">
                <img src="{{ photo.image.url }}" class="card-img-top" alt="{{ photo.caption }}">
                <div class="card-body">
                    <h5 class="card-title">{{ photo.author.username }}</h5>
                    <p class="card-text">{{ photo.caption }}</p>
                    <p class="card-text"><small class="text-body-secondary">{{ photo.created_at }}</small></p>
                </div>
                {% if user.is_authenticated %}
                    <div class="row">
                        {% if perms.webapp.change_photo or user.id == photo.author.id %}
                            <div class="col-3">
                                <a class="btn btn-primary green edit-detail-button"
                                   href="{% url 'photo_update' photo.pk %}">
                                    Редактировать
                                </a>
                            </div>
                        {% endif %}
                        {% if perms.webapp.delete_photo or user.id == photo.author.id %}
                            <div class="col-3">
                                <form action="{% url 'photo_delete' photo.pk %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class='btn btn-danger'>Удалить</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}